*{
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
  color: #EEE;
}
.nav {	
	display: inline-block;
	position: fixed;
    left: -38%;
    width: 60%;
	top: 12%;
	height: 70vh;
	padding: 0;
	font-size: 15px;
	border-radius: 50%;
}

.side {
	padding: 0.1em 0.4em;
	font-size: 1.5em;
}

.sidemenu {
	padding: 1em 0 0 0;
	position: relative;
	margin-top: 14%; 
}

.item {
	position: relative;
	left: -45px;
	padding: 5px 5px 5px 5px;
	color: #000;
}

.item:hover {
	color: #FFF;
}

/* slide out styles */
.sidemenu a:nth-child(1) li {
	transition: 0.5s ease 0s;
}

.sidemenu a:nth-child(2) li {
	transition: 0.8s ease 0s;
}

.sidemenu a:nth-child(3) li {
	transition: 1.1s ease 0s;
}

.sidemenu a:nth-child(4) li {
	transition: 1.4s ease 0s;
}

/* hover state */
.nav:hover > ul a li {
	position: relative;
	left: 65%;
}

.nav:hover {
    background: #363646;
    
}
